.blog-details {
   padding: 120px 0;

   &__inner {
      display: flex;
   }

   &__aside {
      max-width: 270px;
      width: 100%;
      margin-left: 70px;
   }

   .filter__title {
      color: $subtitle;
   }

   &__title {
      @extend %rubik-700;
      color: $accent;
      font-size: 24px;
      line-height: 36px;
   }


   &__content-box {
      margin-bottom: 36px;
      position: relative;
   }

   &__content-img {
      width: 100%;
      max-height: 500px;
      height: 100%;
   }

   &__content-info {
      color: #fff;
      background-color: #a3bbcc;
      padding: 28px 28px 28px 40px;
      position: absolute;
      bottom: 0;
   }

   &__content-date {
      margin-right: 35px;
      position: relative;
   }

   &__content-author {
      position: relative;
   }

   &__content-date::before {
      content: '';
      background: url(../images/icons/calendar-blog.svg);
      position: absolute;
      left: -18px;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 13px;
   }

   &__content-author::after {
      content: '';
      background: url(../images/icons/user.svg);
      position: absolute;
      left: -18px;
      top: 50%;
      transform: translateY(-50%);
      width: 11px;
      height: 13px;
   }

   &__content-title {
      font-size: 36px;
      line-height: 44px;
      color: #333;
      margin-bottom: 35px;
   }

   &__content-text {
      max-width: 800px;
      width: 100%;
      color: $subtitle;
      margin-bottom: 30px;
   }


   &__content-subtitle {
      @extend %rubik-500;
      color: $subtitle;
      margin-bottom: 25px;
   }

   &__tip-box {
      background-color: #edf1f4;
      border-left: 6px solid #a3bbc8;
      padding: 20px 90px 30px 30px;
      color: $subtitle;
      margin-bottom: 45px;
   }

   &__tip-text {
      margin-bottom: 18px;
   }

   &__tip-subtext {
      padding-left: 40px;
      position: relative;
   }

   &__tip-subtext::before {
      content: "";
      width: 20px;
      height: 4px;
      background-color: #a3bbc8;
      position: absolute;
      left: 0;
      bottom: 6px;
   }

   &__descr {
      margin-bottom: 60px;
   }

   &__descr-box {
      display: flex;
      align-items: center;
      margin-bottom: 45px;
   }

   &__descr-img {
      width: 320px;
      height: 210px;
      margin-right: 20px;
   }

   &__descr-title {
      @extend %rubik-500;
      font-size: 18px;
      margin-bottom: 20px;
      color: $subtitle;
   }

   &__descr-text {
      color: #565872;
   }

   &__descr-title {
      margin-bottom: 20px;
   }

   &__designer {
      padding: 25px 20px 25px 0;
      border-top: 2px solid #ebebeb;
      border-bottom: 2px solid #ebebeb;
      border-left: none;
      border-right: none;
      display: flex;
   }

   &__designer-photo {
      width: 76px;
      height: 76px;
      margin-right: 25px;
   }

   &__designer-box {
      display: flex;
      justify-content: space-between;
      width: 100%;
   }

   &__designer-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   &__designer-name {
      color: #333;
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 5px;
   }

   &__designer-post {
      color: #666;
   }

   &__designer-tags {
      color: #333;
   }

   &__designer-tag {
      color: #999;
      margin-left: 28px;
   }

   &__designer-share {
      color: #333;
   }

   &__designer-share,
   &__designer-items {
      display: flex;
      align-items: center;
   }

   &__designer-item {
      margin-left: 20px;
   }

   &__comments {
      padding: 55px 0 80px;
   }

   &__comments-item {
      display: flex;
   }

   &__comments-item+.blog-details__comments-item {
      margin-top: 30px;
   }

   &__comments-content {
      border-bottom: 1px solid #e0e0e0;
      padding-bottom: 26px;
   }

   &__comments-box {
      display: flex;
      justify-content: space-between;
      margin-bottom: 22px;
   }

   &__comments-title {
      margin-bottom: 50px;
   }

   &__comments-img {
      width: 100px;
      height: 100px;
      margin-right: 20px;
   }

   &__comments-name {
      @extend %rubik-700;
      color: $accent;
   }

   &__comments-date {
      font-size: 14px;
   }

   &__comments-text {
      color: #565872;
      margin-bottom: 26px;
   }

   &__comments-reply {
      color: #516278;
      padding-right: 20px;
      position: relative;
   }

   &__comments-reply::after {
      content: "";
      position: absolute;
      background: url(../images/blog/comments/arrow-right.svg);
      width: 15px;
      height: 13px;
      bottom: 2px;
      right: 0;
   }

   &__comments-item--reply {
      max-width: 700px;
      width: 100%;
      margin-left: auto;
   }
}

.post-comment {
   &__title {
      margin-bottom: 46px;
   }
   &__input-box{
      display: flex;
      margin-bottom: 20px;
   }
   &__input{
      width: 400px;
      padding: 15px 40px 15px 20px;
      border: 1px solid #bbc2c9;
      position: relative;
   }
   &__input + .post-comment__input{
      margin-left: 30px;
   }
   &__input--name{
      background-image: url(../images/icons/user-form.svg);
      background-repeat: no-repeat;
      background-position: 95% center ;
     }
     &__input--email{
      background-image: url(../images/icons/mail.svg);
      background-repeat: no-repeat;
      background-position: 95% center ;
     }
   &__textarea{
      display: block;
      width: 100%;
      border: 1px solid #bbc2c9;
      padding:15px 20px;
      height: 120px;
      resize: none;
      margin-bottom: 40px;
      background-image: url(../images/icons/message.svg);
      background-repeat: no-repeat;
      background-position: 98% 15%;
   }

   &__input:hover,
   &__textarea:hover{
      border: 1px solid #a3bbc8;
      color: #333;
   }
   &__btn{
      background-color: #a3bbc8;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 21px;
      color: #fff;
      padding: 15px 32px;
   }
}

.filter {
   color: $subtitle;
   width: 270px;
   margin-right: 30px;
   &__title {
      @extend %dmsans-700;
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;
      margin-bottom: 30px;
      display: inline-block;
      padding-right: 56px;
      position: relative;
      &::after {
         content: '';
         background-color: rgb(163, 187, 200);
         position: absolute;
         right: 0;
         top: 10px;
         width: 39px;
         height: 3px;
      }
   }
}

.filter-search {
   margin-bottom: 56px;
   width: 270px;

   &__input {
      border: 2px solid #eef2f5;
      border-radius: 5px 0 0 5px;
      border-right: none;
      padding: 0 15px;
      height: 43px;
      width: 226px;
   }

   &__btn {
      margin-left: -7px;
      background-color: #eef2f5;
      border-radius: 5px;
      padding: 13px 15px;
      transform: translateY(3px);
   }
}

.filter-category {
   padding-bottom: 50px;

   &__label {
      margin-bottom: 10px;
      display: block;

      &:last-child {
         margin-bottom: 0;
      }
   }

   &__input {

      @extend %checkbox-hidden;

      &:checked+.filter-category__checkbox {
         background-color: #edf1f4;
      }
   }

   &__checkbox {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border-radius: 5px;
      padding: 16px 22px 16px 14px;
   }
}


.blog-recent {
   &__item {
      display: flex;
      margin-bottom: 22px;
   }

   &__img {
      width: 70px;
      height: 70px;
   }

   &__content {
      margin-left: 18px;
   }

   &__title {
      font-size: 14px;
      line-height: 20px;
      color: #333;
   }

   &__data {
      color: #b5b5b5;
      font-size: 12px;
      text-transform: uppercase;
      padding-left: 19px;
      position: relative;

      &::before {
         content: '';
         background-image: url(../images/icons/calendar.svg);
         position: absolute;
         left: 0;
         bottom: 2px;
         background-repeat: no-repeat;
         background-position: center;
         width: 12px;
         height: 13px;
      }
   }
}
