.article {
   padding-top: 110px;
   height: 890px;
   position: relative;

   &__top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 45px;
   }

   &__top-link {
      @extend %dmsans-700;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #262626;
   }

   &__item-img {
      width: 370px;
      height: 250px;
   }

   &__top-img {
      width: 7px;
      height: 12px;
      margin-left: 15px;
   }

   &__items {
      display: flex;
      justify-content: space-between;
   }

   &__item {
      max-width: 370px;
      width: 100%;
      border-radius: 5px;
      position: relative;
   }

   &__item-news {
      position: absolute;
      top: 235px;
      left: 28px;
      background-color: rgb(163, 187, 200);
      z-index: 1;
      border-radius: 15px;
      width: 102px;
      height: 30px;
   }

   &__news-decor {
      @extend %poppins-700;
      text-align: center;
      font-size: 14px;

   }

   &__news-link {
      color: #fff;
   }

   &__item-content {
      background-color: #fff;
      padding: 30px 50px 10px 17px;
   }

   &__item-text {
      @extend %dmsans-500;
      font-size: 18px;
      line-height: 22px;
      color: #262626;
      max-width: 290px;
      padding-bottom: 16px;
      margin-bottom: 10px;
      border-bottom: 1px solid rgb(224, 224, 224);
      min-height: 83px;
   }

   &__item-link {
      color: #262626;
   }

   &__item-info {
      @extend %rubik-500;
      display: flex;
      font-size: 12px;
      color: rgb(34, 41, 51);
      text-transform: uppercase;
   }

   &__info-date {
      margin-right: 40px;
   }
}

.partners {
   position: absolute;
   bottom: 1%;
   width: 100%;
   padding: 263px 0 85px;
   background-color: rgb(252, 215, 182, .2);
   z-index: -1;

   &__list {
      display: flex;
      justify-content: space-around;
      align-items: center;
   }
}