<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee</title>
  <link rel="stylesheet" href="css/blog-details.min.css">
</head>

<body>

 {% include 'app/module/_header/header.html' %}

  <main class="main">
    <section class="breadcrumbs">
      <div class="breadcrumbs__top">
        <h2 class="breadcrumbs__title">
          Blog Details
        </h2>
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__item-link" href="#">
              Home
            </a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__item-link" href="#">
              Blog
            </a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__item-link" href="#">
              Blog Details
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section class="blog-details">
      <div class="container">
        <div class="blog-details__inner">
          <div class="blog-details__content">
            <div class="blog__content-box blog-details__content-box">
              <img class="blog__content-img blog-details__content-img" src="images/blog/3.jpg" alt="blog image">
              <div class="blog__content-info blog-details__content-info">
                <span class="blog__content-date blog-details__content-date">
                  28 January,2020
                </span>
                <span class="blog__content-author blog-details__content-author">
                  by admin
                </span>
              </div>
            </div>

            <h3 class="blog__content-title blog-details__content-title">
              Fonsectetur adipising eiusmod
            </h3>
            <h5 class="blog-details__content-subtitle">
              Sdipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              venia Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </h5>
            <p class="blog__content-text blog-details__content-text">
              consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
              ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
              consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
              ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <div class="blog-details__tip-box">
              <p class="blog-details__tip-text">
                Sdipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris
              </p>
              <span class="blog-details__tip-subtext">
                Wiusmod tempor
              </span>
            </div>
            <div class="blog-details__descr">
              <div class="blog-details__descr-box">
                <img class="blog-details__descr-img" src="images/blog/4.jpg" alt="blog-image">
                <div class="blog-details__descr-content">
                  <h5 class="blog-details__descr-title">
                    Riusmod tempor incididunt
                  </h5>
                  <p class="blog-details__descr-text">
                    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  </p>
                </div>
              </div>

              <h5 class="blog-details__descr-title">
                Kajtsal jervcm eoaspckred
              </h5>
              <p class="blog-details__descr-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              </p>
            </div>

            <div class="blog-details__designer">
              <img class="blog-details__designer-photo" src="images/blog/details/1.jpg" alt="member photo">
              <div class="blog-details__designer-box">

                <div class="blog-details__designer-info">
                  <h4 class="blog-details__designer-name">
                    Mark N. Hernandez
                  </h4>
                  <div class="blog-details__designer-post">
                    Designer
                  </div>
                </div>

                <div class="blog-details__designer-links">
                  <div class="blog-details__designer-tags">
                    Tags:
                    <span class="blog-details__designer-tag">
                      All, Trending
                    </span>
                  </div>
                  <div class="blog-details__designer-share">
                    Share:
                    <div class="blog-details__designer-items">

                      <div class="blog-details__designer-item">
                        <a class="blog-details__designer-link" href="#">
                          <img class="blog-details__designer-icon" src="images/icons/social-icons/facebook.svg" alt="">
                        </a>
                      </div>

                      <div class="blog-details__designer-item">
                        <a class="blog-details__designer-link" href="#">
                          <img class="blog-details__designer-icon" src="images/icons/social-icons/twitter.svg" alt="">
                        </a>
                      </div>

                      <div class="blog-details__designer-item">
                        <a class="blog-details__designer-link" href="#">
                          <img class="blog-details__designer-icon" src="images/icons/social-icons/instagram.svg" alt="">
                        </a>
                      </div>

                      <div class="blog-details__designer-item">
                        <a class="blog-details__designer-link" href="#">
                          <img class="blog-details__designer-icon" src="images/icons/social-icons/google+.svg" alt="">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="blog-details__comments comments">
              <h3 class="blog-details__comments-title blog-details__title">
                <span class="blog-details__comments-num">
                  3
                </span>
                Comments
              </h3>

              <div class="blog-details__comments-item">
                <img class="blog-details__comments-img" src="images/blog/comments/1.jpg" alt="person photo">
                <div class="blog-details__comments-content">
                  <div class="blog-details__comments-box">
                    <h5 class="blog-details__comments-name">
                      Delores G.Roberts
                    </h5>
                    <div class="blog-detailscomments-date">
                      Add 11 Oct 2020
                    </div>
                  </div>

                  <p class="blog-details__comments-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et tristique
                    convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    himenaeos. Suspendisse orci sem, ultrices
                  </p>
                  <a class="blog-details__comments-reply" href="#">
                    Reply
                  </a>
                </div>
              </div>

              <div class="blog-details__comments-item blog-details__comments-item--reply">
                <img class="blog-details__comments-img" src="images/blog/comments/2.jpg" alt="person photo">
                <div class="blog-details__comments-content">
                  <div class="blog-details__comments-box">
                    <h5 class="blog-details__comments-name">
                      Delores G.Roberts
                    </h5>
                    <div class="blog-detailscomments-date">
                      Add 11 Oct 2020
                    </div>
                  </div>

                  <p class="blog-details__comments-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et tristique
                    convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    himenaeos. Suspendisse orci sem, ultrices
                  </p>
                  <a class="blog-details__comments-reply" href="#">
                    Reply
                  </a>
                </div>
              </div>

              <div class="blog-details__comments-item">
                <img class="blog-details__comments-img" src="images/blog/comments/3.jpg" alt="person photo">
                <div class="blog-details__comments-content">
                  <div class="blog-details__comments-box">
                    <h5 class="blog-details__comments-name">
                      Delores G.Roberts
                    </h5>
                    <div class="blog-detailscomments-date">
                      Add 11 Oct 2020
                    </div>
                  </div>

                  <p class="blog-details__comments-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et tristique
                    convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    himenaeos. Suspendisse orci sem, ultrices
                  </p>
                  <a class="blog-details__comments-reply" href="#">
                    Reply
                  </a>
                </div>
              </div>
            </div>
            <div class="blog-details__post-comment post-comment">
              <h3 class="post-comment__title blog-details__title">
                Leave a Comment
              </h3>
              <form class="post-comment__form" action="#">
                <div class="post-comment__input-box">
                  <input class="post-comment__input post-comment__input--name" type="text" placeholder="Name">
                  <input class="post-comment__input post-comment__input--email" type="text"
                    placeholder="youremail.@gmail.com">
                </div>
                <textarea class="post-comment__textarea" placeholder="Comment" resize="none"></textarea>
                <button class="post-comment__btn">
                  post comment
                </button>
              </form>
            </div>
          </div>

          <div class="blog-details__aside">
            <div class="filter-search">
              <form class="filter-search__form" action="#">
                <input class="filter-search__input" type="text">
                <button class="filter-search__btn">
                  <img class="filter-search__img" src="images/icons/filter-search.svg" alt="search-button">
                </button>
              </form>
            </div>

            <div class="filter__item filter-category">
              <h3 class="filter__title">
                category
              </h3>
              <form class="filter-category__form" action="#">
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox" checked>
                  <div class="filter-category__checkbox">
                    <span class="filter-category__text">
                      Chair
                    </span>
                    <img class="filter-category__img" src="images/decor/filter-arrow.svg" alt="arrow">
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span class="filter-category__text">
                      Table
                    </span>
                    <img class="filter-category__img" src="images/decor/filter-arrow.svg" alt="arrow">
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span class="filter-category__text">
                      Lamp
                    </span>
                    <img class="filter-category__img" src="images/decor/filter-arrow.svg" alt="arrow">
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span class="filter-category__text">
                      Watch
                    </span>
                    <img class="filter-category__img" src="images/decor/filter-arrow.svg" alt="arrow">
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span class="filter-category__text">
                      Clock
                    </span>
                    <img class="filter-category__img" src="images/decor/filter-arrow.svg" alt="arrow">
                  </div>
                </label>
              </form>
            </div>

            <div class="blog-recent">
              <h3 class="filter__title">
                recent posts
              </h3>
              <div class="blog-recent__item">
                <img class="blog-recent__img" src="images/blog/recent/1.jpg" alt="post-recent">
                <div class="blog-recent__content">
                  <a class="blog-recent__link" href="#">
                    <h5 class="blog-recent__title">
                      Corem ipsum dolor tetur adilipiscing elit
                    </h5>
                  </a>
                  <span class="blog-recent__data">
                    28 january,2020
                  </span>
                </div>
              </div>

              <div class="blog-recent__item">
                <img class="blog-recent__img" src="images/blog/recent/2.jpg" alt="post-recent">
                <div class="blog-recent__content">
                  <a class="blog-recent__link" href="#">
                    <h5 class="blog-recent__title">
                      Corem ipsum dolor tetur adilipiscing elit
                    </h5>
                  </a>

                  <span class="blog-recent__data">
                    28 january,2020
                  </span>
                </div>
              </div>

              <div class="blog-recent__item">
                <img class="blog-recent__img" src="images/blog/recent/3.jpg" alt="post-recent">
                <div class="blog-recent__content">
                  <a class="blog-recent__link" href="#">
                    <h5 class="blog-recent__title">
                      Corem ipsum dolor tetur adilipiscing elit
                    </h5>
                  </a>
                  <span class="blog-recent__data">
                    28 january,2020
                  </span>
                </div>
              </div>

              <div class="blog-recent__item">
                <img class="blog-recent__img" src="images/blog/recent/4.jpg" alt="post-recent">
                <div class="blog-recent__content">
                  <a class="blog-recent__link" href="#">
                    <h5 class="blog-recent__title">
                      Corem ipsum dolor tetur adilipiscing elit
                    </h5>
                  </a>
                  <span class="blog-recent__data">
                    28 january,2020
                  </span>
                </div>
              </div>
            </div>
          </div>
    </section>

    <section class="partners-block">
      <div class="partners-block__inner">
        <div class="container">
          <ul class="partners-block__list">
            <li class="partner-block__item">
              <img class="partner-block__item-img" src="images/partners/1.png" alt="partner">
            </li>
            <li class="partner-block__item">
              <img class="partner-block__item-img" src="images/partners/2.png" alt="partner">
            </li>
            <li class="partner-block__item">
              <img class="partner-block__item-img" src="images/partners/3.png" alt="partner">
            </li>
            <li class="partner-block__item">
              <img class="partner-block__item-img" src="images/partners/4.png" alt="partner">
            </li>
            <li class="partner-block__item">
              <img class="partner-block__item-img" src="images/partners/5.png" alt="partner">
            </li>
          </ul>
        </div>
      </div>
    </section>

  </main>

  {% include 'app/module/_footer/footer.html' %}


  <script src="js/main.min.js"></script>
</body>

</html>