.footer {
   @extend %rubik-400;
   padding: 75px 0 35px;
   font-size: 14px;
   line-height: 32px;

   a {
      color: $default;
   }
}

.footer-top {
   display: flex;
   justify-content: space-between;
   padding-bottom: 60px;
   border-bottom: 1px solid #dae4e9;

   &__logo {
      margin-bottom: 10px;
   }

   &__contact {
      text-transform: uppercase;
   }

   &__item-form {
      max-width: 280px;
   }

   &__text {
      margin-bottom: 35px;
   }

   &__title {
      color: $footer-c;
      @extend %dmsans-700;
      text-transform: uppercase;
      margin-bottom: 10px;
      margin-top: 15px;
   }

   &__item-contacts {
      max-width: 200px;
   }

   &__address,
   &__phone {
      margin-bottom: 10px;
   }

   &__item {
      max-width: 150px;
      margin: 0 20px;
   }

   &__form {
      @extend %dmsans-400;
   }

   &__form-input {
      max-width: 170px;
      width: 100%;
      background-color: #fef7f0;
      padding: 10px 0 10px 10px;
   }

   &__form-input::placeholder {
      color: #234969;
   }

   &__form-btn {
      background-color: #a3bbc8;
      color: #fff;
      padding: 10px 15px;
   }
}

.footer-bottom {
   display: flex;
   justify-content: space-between;
   height: 90px;
   align-items: center;
   font-size: 14px;
   line-height: 20px;

   &__list {
      display: flex;
   }

   &__item {
      padding: 0 10px;
   }

   &__item+&__item {
      border-left: 1px solid $default;
   }
}