.work-info {
   background-color: #fcd7b6;
   padding: 88px 0 82px;

   &__inner {
      display: flex;
      justify-content: space-around;
   }

   &__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      @extend %dmsans-700;
      color: $subtitle;
      text-align: center;
   }

   &__img-box {
      margin-bottom: 26px;
      display: flex;
      justify-content: center;
   }

   &__num {
      font-size: 36px;
      line-height: 38px;
      margin-bottom: 25px;
   }

   &__text {
      font-size: 18px;
      line-height: 32px;
   }
}